html {
  background-color: #0a1429;
  }

  body {
    width: 75%;
    margin: auto;
    background-image: url('background1.jpg');
    padding-top: 5px;
    padding-bottom: 45px;
    padding-left: 1000px;
    padding-right: 1000px;
  }

  header {
    background-color:#d6e0f5;
    margin: auto;
    width: 95%;
  }

  h1 {
    font-family: Calibri;
    font-size: 30pt;
    font-weight: bold;
    text-align: center;

  }

  #nav-bar {
    font-size: 12pt;
    color: black;
    width: 95%;
    height: 100px;
    background-color: #d6e0f5;
   margin: auto;

  }

  #nav-bar ul {
      display: flex;
    list-style-type: none;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 25px;
    height: 100px;
  }

  #nav-bar li {

   text-align: center;
   font-family: arial;
   font-size: 18pt;
   font-weight: bold;
    padding: 10px;
   }

  #nav-bar li a {
    text-decoration: none;
    color: black;
    text-align: center;
    background-color: white;
    padding: 15px;

  }

  #nav-bar li a:hover {
    text-decoration: underline;
     border: 1px solid black;
    padding: 10px;

  }

  section {
    width: 95%;
    height:auto;
    background-color:  #d6e0f5;
    margin: auto;

  }

  h2 {
    font-size: 24pt;
    font-family: Calibri;
    font-weight: bold;
    padding-left: 10px;

  }

  p {font-size: 14pt;
    font-family: Calibri;
    font-weight: normal;
    text-align: justify;
    padding: 10px;
  }



img { width: 500px;
height: 500px;}


.images {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  gap: 100px;
}


  footer {
    width: 95%;
    height: auto;
    background-color: #d6e0f5;
    margin: auto;


  }

  footer p {

    text-align: center;
    font-size: 18pt;
    font-family: arial;
    font-weight: bold;
  }